header {
	position:fixed;
	top:0;
	left:0;
	width:100%;
	background-color:#007ab6;
	color:white;
	text-align:left;
	padding:10px; 
	z-index:999;
}
nav {
	position:fixed;
	top:100px;
	right:0;
	line-height:30px;
	background-color:#007ab6;
	color:white;
	height:95%;
	width:10%;
	float:right;
	padding:5px; 
}
section {
	width:350px;
	float:middle;
	padding:10px; 
	text-align:left;
}
body {
	font-family:Verdana, Helvetica, sans-serif;
}
div.navigation + div.navigation {
	margin-top:10px;
}
div.navigation {
	text-align:center;
	font-weight:bold;
	color:white;
	line-height:50px;
	height:50px;
	width:105%;
	float:right;
	padding:5px; 
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
div.navigation.selected {
	background-color:#ed008c;
}
div.navigation.unselected {
	background-color:#009DDD;
}
div.navigation:hover {
	background-color:#C00071;
}
div.inner {
	text-align:center;
	font-weight:bold;
	color:white;
	line-height:50px;
	height:50px;
	width:100%;
	float:right;
	padding:0px; 
}
div.logo {
	margin-top: 15px;
	text-align:center;
	color:white;
	height:100px;
	width:100%;
	float:right; 
}
a{
	color:white;
	padding:0px;
}
a.nav{
	text-decoration: none;
	color:white;
}
svg.centered {
	position: absolute;
	top: 130px;
	left: 45%;
	margin-left: -500px;
}
